#controls {
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: white;
}

#current_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

#images_selection {
    width: 100%;
}

.btn-group {
    z-index: 1;
    position: absolute;
    width: 48px;
    top: 40px;
    right: 0;
    padding: 20px;
}

.btn-group .editor-button {
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: #e6e6e6;
}

.btn-group .editor-button:last-child {
    margin-bottom: 0px;
}

.btn-group .editor-button:hover {
    background-color: #cacaca;
}

.btn-group .btn-active, .btn-group .btn-active:hover {
    background-color: #868686;
}