html  {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mdc-top-app-bar .mdc-top-app-bar__row {
  height: 40px;
  overflow: hidden;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 40px !important;
}