html  {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mdc-top-app-bar .mdc-top-app-bar__row {
  height: 40px;
  overflow: hidden;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 40px !important;
}

.mdc-top-app-bar__title {
  cursor: pointer;
}

.mdc-top-app-bar .login-button {
  color: white !important;
}

.mdc-button {
  white-space: nowrap; /* prevent line break in button text */
}

.alert-banner {
  padding: 4px 20px;
  margin-bottom: 20px;
  border: 1px solid #b00020;
  background-color: #b000201f;
  color: #b00020;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.alert-banner > h2 {
  width: 100%;
}

.alert-banner > i {
  cursor: pointer;
}