.main-container {
    padding: 20px;
}

.main-container .form-row {
    padding-top: 10px;
}

.main-container .form-row .mdc-text-field {
    width: 100%;
}

.list-item-end-custom {
    pointer-events: all !important;
    color: black !important;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.image-list__item {
    display: flex;
    object-fit: contain;
    position: relative;
}

.image-list__item > div {
    border-radius: 4px;;
}

.image-list__item img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

input[type="file"] {
    display: none;
}

.menu-icon {
    padding-left: 10px;
}

#orderby-menu-container {
    display: inline;
    float: right;
    margin-right: 20px;
}

.pagination-container {
    text-align: center;
    margin-top: 10px;
}

.button-pagination {
    min-width: 30px;
    height: 30px;
}

.button-pagination-active {
    border-radius: 50%;
    color: white !important;
    background-color: #6200ee;
    opacity: 0.2;
}

.button-pagination > .mdc-button__ripple {
    border-radius: 50%;
}