.main-container {
    padding: 20px;
}

.main-container .form-row {
    padding-top: 20px;
}

.main-container .form-row .mdc-text-field {
    width: 100%;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.image-list > div {
    display: flex;
    object-fit: contain;
}

.image-list > div > img {
    max-height: 100%;
    max-width: 100%;
}

input[type="file"] {
    display: none;
}