.list-item-end-custom {
    pointer-events: all !important;
    color: black !important;
}

.menu-icon {
    padding-left: 10px;
}

#orderby-menu-container {
    display: inline;
    float: right;
    margin-right: 20px;
}

.pagination-container {
    text-align: center;
    margin-top: 10px;
}

.button-pagination {
    min-width: 30px;
    height: 30px;
}

.button-pagination-active {
    border-radius: 50%;
    color: white !important;
    background-color: #6200ee;
    opacity: 0.2;
}

.button-pagination > .mdc-button__ripple {
    border-radius: 50%;
}
