{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block appbar_buttons %}
<button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded app-bar-icon-button" aria-label="Export Annotation">
    <div class="mdc-icon-button__ripple"></div>
    file_download
</button>
<button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded app-bar-icon-button" aria-label="Print this page">
    <div class="mdc-icon-button__ripple"></div>
    print
</button>
{% endblock %}

{% block content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">                                
            <div class="mdc-elevation--z4">
                <div class="main-container">
                    <h1 class="mdc-typography--button">{% if mode == 'add' %}New Project{% else %}Edit Project{% endif %}</h1>

                    <!-- Name Textfield -->
                    <div class="form-row">
                        <div class="mdc-text-field mdc-text-field--outlined" id="text-field-name">
                            <input class="mdc-text-field__input" id="text-field-name-input">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="text-field-name-input" class="mdc-floating-label" id="text-field-name-label">Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Description Textarea -->
                    <div class="form-row">
                        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea" id="text-field-description">
                            <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-description-input" class="mdc-floating-label" id="text-field-description-label">Description</label>
                            </div>
                            <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <span class="mdc-text-field__resizer">
                            <textarea class="mdc-text-field__input" rows="4" cols="40" aria-label="Label" id="text-field-description-input"></textarea>
                            </span>
                        </label>
                    </div>

                    <!-- Image Upload -->
                    <div class="form-row">                       
                        <label for="image-upload-input" class="mdc-button mdc-button--outlined mdc-button--icon-leading image-upload-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__focus-ring"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                            <span class="mdc-button__label">Add Images</span>
                        </label>
                        <input type="file" id="image-upload-input" accept="image/*" multiple oninput="filesInputChanged(event)">
                    </div>

                    <!-- Image List -->
                    <div class="form-row">
                        <h1 class="mdc-typography--subtitle1">Images</h1>
                        <div class="image-list" id="images-list">
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="form-row">
                    <button class="mdc-button mdc-button--raised" onclick="cancelButtonClicked()">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__focus-ring"></span>
                        <span class="mdc-button__label">Cancel</span>
                    </button>
                    <button class="mdc-button mdc-button--raised mdc-button--icon-leading" onclick="createProjectButtonClicked(event)">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__focus-ring"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">
                            save
                        </i>
                        <span class="mdc-button__label">{% if mode == 'add' %}Create Project{% else %}Save Changes{% endif %}</span>
                    </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const API_URL = {{ api_url|tojson }};
    const mode = {{ mode|tojson }};
    const project_id = {{ project_id|tojson }};

    var images_to_upload = [];

    function getProjectDataAndPopulateFields(project_id) {
        var getProjectReq = new XMLHttpRequest();
        getProjectReq.addEventListener("load", function () {
            console.log("Project data loaded.")
            console.log(this.responseText);
            var response = JSON.parse(this.responseText);
            var neededKeys = [
                'name', 
                'description', 
                'images'
            ];
            if (neededKeys.every(key => Object.keys(response).includes(key))) {
                setName(response.name);
                setDescription(response.description);
                setImagesList(response.images);
            }
        });
        getProjectReq.open("GET", `${API_URL}/project/${project_id}`);
        getProjectReq.send();
    }

    function setName(name) {
        document.getElementById('text-field-name-input').value = name;
        document.getElementById('text-field-name').classList.add("mdc-text-field--label-floating");
        document.getElementById('text-field-name-label').classList.add("mdc-floating-label--float-above");
    }

    function setDescription(description) {
        document.getElementById('text-field-description-input').value = description;
        if (description.length) {
            document.getElementById('text-field-description').classList.add("mdc-text-field--label-floating");
            document.getElementById('text-field-description-label').classList.add("mdc-floating-label--float-above");
        }
    }

    function htmlToElements(html) {
        var template = document.createElement('template');
        template.innerHTML = html;
        return template.content;
    }

    function addImageToImageList(src, classsuffix) {
        const html = `
            <div class="image-list__item">
                <img class="image-list__${classsuffix}" src="${src}">
            </div>`;
        document.getElementById('images-list').appendChild(htmlToElements(html));
    }

    function setImagesList(images) {
        const imagesList = document.getElementById('images-list');
        images.forEach((image) => {
            addImageToImageList(`${API_URL}/image_file/${image.id}`, "image-already-uploaded");
        });
    }
    
    
    if (mode == "edit") {
        getProjectDataAndPopulateFields(project_id);
    }
    else if (mode == "add") {
        
    }
    else {
        console.log("Unknown mode. Must be either 'add' or 'edit'.")
    }

    // TODO:
    // - upon "uploading images"
    // - load images locally
    // - place images in the preview list

    // - upon clicking save button
    //    -> read out data from all inputs (including the image list)
    //    -> validate inputs
    //    -> assemble json body
    //    -> send POST request for project creation

    // API request for images creation
    function createImages(project_id, images_data) {
        var createImagesReq = new XMLHttpRequest();
        createImagesReq.addEventListener("load", function () {
            console.log("Images created.")
            console.log(this.responsetext)
            // const response = JSON.parse(this.responseText);
            // TODO: in case of error show error message (flash)

            // TODO: update image list (get images from server and remove the temporary ones)
        });
        createImagesReq.open("POST", `${API_URL}/project/${project_id}/images/`, true);
        createImagesReq.send(images_data);

    }

    // API request for project creation
    function createProject(project_data, images_data) {
        var saveAnnotationReq = new XMLHttpRequest();
        saveAnnotationReq.addEventListener("load", function () {
            console.log("Project created.");
            console.log(this.responsetext);
            const response = JSON.parse(this.responseText);
            // TODO: in case of error show error message (flash)

            // send request to create images that were selected
            if (this.status == 200) {
                const project_id_new = response.id;
                createImages(project_id_new, images_data);
            }
        });
        saveAnnotationReq.open("POST", `${API_URL}/projects/`, true);
        saveAnnotationReq.setRequestHeader("Content-Type", "application/json");
        saveAnnotationReq.send(JSON.stringify(project_data));
    }

    function redirectHome() {
        window.location.href = "{{ url_for('projects') }}";
    }

    function createProjectButtonClicked(event) {
        // get project data from fields and file input
        const project_data = {
            "name": document.getElementById('text-field-name-input').value, 
            "description": document.getElementById('text-field-description-input').value
        };

        var images_data = new FormData();
        Array.from(images_to_upload).forEach(file => {
            images_data.append("files", file, file.name);
        });

        createProject(project_data, images_data);
        //redirectHome();
    }

    function cancelButtonClicked() {
        redirectHome();
    }    

    function filesInputChanged(event) {
        function createObjectURL(object) {
            return (window.URL) ? window.URL.createObjectURL(object) : window.webkitURL.createObjectURL(object);
        }
        console.log(event.target.files);
        if(event.target.files.length) {
            for(var i = 0; i < event.target.files.length; i++) {
                const file = event.target.files[i];
                images_to_upload.push(file);
                var src = createObjectURL(file);
                addImageToImageList(`${src}`, "image-not-uploaded");
            }
        }
    }
</script>
{% endblock %}