{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block appbar_buttons %}
<!--<button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded app-bar-icon-button" aria-label="Export Annotation">
    <div class="mdc-icon-button__ripple"></div>
    file_download
</button>
<button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded app-bar-icon-button" aria-label="Print this page">
    <div class="mdc-icon-button__ripple"></div>
    print
</button>-->
{% endblock %}

{% block content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">                                
            <div class="mdc-elevation--z4">
                <div class="main-container">
                    <h1 class="mdc-typography--button">{% if mode == 'add' %}New Project{% else %}Edit Project{% endif %}</h1>

                    <!-- Name Textfield -->
                    <div class="form-row">
                        <div class="mdc-text-field mdc-text-field--outlined" id="text-field-name">
                            <input class="mdc-text-field__input" id="text-field-name-input">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="text-field-name-input" class="mdc-floating-label" id="text-field-name-label">Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Description Textarea -->
                    <div class="form-row">
                        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea" id="text-field-description">
                            <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-description-input" class="mdc-floating-label" id="text-field-description-label">Description</label>
                            </div>
                            <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <span class="mdc-text-field__resizer">
                            <textarea class="mdc-text-field__input" rows="4" cols="40" aria-label="Label" id="text-field-description-input"></textarea>
                            </span>
                        </label>
                    </div>

                    <!-- Image Upload -->
                    <div class="form-row">                       
                        <label for="image-upload-input" class="mdc-button mdc-button--outlined mdc-button--icon-leading image-upload-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__focus-ring"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                            <span class="mdc-button__label">Add Images</span>
                        </label>
                        <input type="file" id="image-upload-input" accept="image/*" multiple oninput="filesInputChanged(event)">
                    </div>

                    <!-- Image List -->
                    <div class="form-row">
                        <h1 class="mdc-typography--subtitle1" id="image-list-title" style="display: none;">Images</h1>
                        <div class="image-list" id="images-list">
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="form-row">
                        <button class="mdc-button mdc-button--raised" onclick="cancelButtonClicked()">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__focus-ring"></span>
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button class="mdc-button mdc-button--raised mdc-button--icon-leading" onclick="saveProjectButtonClicked(event)">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__focus-ring"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">
                                save
                            </i>
                            <span class="mdc-button__label">{% if mode == 'add' %}Create Project{% else %}Save Changes{% endif %}</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // TODOS:
    // - make images deletable
    // - images list pagination
    // - validate inputs, e.g. do not allow sending empty strings (show error msg in helper text)
    // - catch errors of XHR requests (show snackbar with generic error message and full error message in console)

    const API_URL = {{ api_url|tojson }};
    const mode = {{ mode|tojson }};
    const project_id = {{ project_id|tojson }};

    const project_save_success_msg = "Project saved successfully.";
    const project_save_error_msg = "Failed to save project."

    const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
    const iconToggle = new mdc.iconButton.MDCIconButtonToggle(document.querySelector('.mdc-icon-button'));

    var images_to_upload = [];
    //var images_to_delete = [];

    function getProjectDataAndPopulateFields(project_id) {
        if (project_id == null) {
            return;
        } else {
            var getProjectReq = new XMLHttpRequest();
            getProjectReq.addEventListener("load", function () {
                console.log("Project data loaded.")
                console.log(this.responseText);
                var response = JSON.parse(this.responseText);
                var neededKeys = [
                    'name', 
                    'description', 
                    'images'
                ];
                if (neededKeys.every(key => Object.keys(response).includes(key))) {
                    setName(response.name);
                    setDescription(response.description);
                    setImagesList(response.images);
                }
            });
            getProjectReq.open("GET", `${API_URL}/project/${project_id}`);
            getProjectReq.send();
        }
    }

    function setName(name) {
        document.getElementById('text-field-name-input').value = name;
        document.getElementById('text-field-name').classList.add("mdc-text-field--label-floating");
        document.getElementById('text-field-name-label').classList.add("mdc-floating-label--float-above");
    }

    function setDescription(description) {
        document.getElementById('text-field-description-input').value = description;
        if (description.length) {
            document.getElementById('text-field-description').classList.add("mdc-text-field--label-floating");
            document.getElementById('text-field-description-label').classList.add("mdc-floating-label--float-above");
        }
    }

    function htmlToElements(html) {
        var template = document.createElement('template');
        template.innerHTML = html;
        return template.content;
    }

    function addImageToImageList(image_id, src, classsuffix) {
        const html = `
            <div class="image-list__item">
                <div class="mdc-elevation--z2">
                    <img class="image-list-image__${classsuffix}" src="${src}">
                    <div class="image-list-image__delete-button">
                        <button class="mdc-icon-button material-icons" onclick="deleteImageButtonClicked(${image_id}, event)">
                            <div class="mdc-icon-button__ripple"></div>
                            <span class="mdc-icon-button__focus-ring"></span>
                            <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">delete</i>
                            <i class="material-icons mdc-icon-button__icon">delete_outline</i>
                        </button>
                    </div>
                </div>
            </div>`;
        document.getElementById('images-list').appendChild(htmlToElements(html));
    }

    function updateImageListTitle(show) {
        if (show) {
            document.getElementById('image-list-title').style.display = "block";
        } else {
            document.getElementById('image-list-title').style.display = "none";
        }
    }

    function setImagesList(images) {
        updateImageListTitle(images.length > 0);
        const imagesList = document.getElementById('images-list');
        images.forEach((image) => {
            addImageToImageList(image.id, `${API_URL}/image_file/${image.id}`, "image-already-uploaded");
        });
    }

    // API request for images creation
    function createImages(project_id, images_data) {
        if (images_data.has("files")) {
            var createImagesReq = new XMLHttpRequest();
            createImagesReq.addEventListener("load", function () {
                console.log("Images created.")
                console.log(this.responsetext)
                if (this.status == 200) {
                    snackbar.labelText = project_save_success_msg;
                    snackbar.open();
                } else {
                    snackbar.labelText = project_save_error_msg;    
                    snackbar.open();
                }
            });
            createImagesReq.open("POST", `${API_URL}/project/${project_id}/images/`, true);
            createImagesReq.send(images_data);
        }
    }

    // API request for project creation
    function createProject(project_data, images_data, listener) {
        var createProjectReq = new XMLHttpRequest();
        createProjectReq.addEventListener("load", listener.bind(null, images_data, null));
        createProjectReq.open("POST", `${API_URL}/projects/`, true);
        createProjectReq.setRequestHeader("Content-Type", "application/json");
        createProjectReq.send(JSON.stringify(project_data));
    }

    function updateProject(project_id, project_data, images_data, listener) {
        var updateProjectReq = new XMLHttpRequest();
        updateProjectReq.addEventListener("load", listener.bind(null, images_data, project_id));
        updateProjectReq.open("PUT", `${API_URL}/project/${project_id}`, true);
        updateProjectReq.setRequestHeader("Content-Type", "application/json");
        updateProjectReq.send(JSON.stringify(project_data));
    }

    function saveProjectListener(images_data, project_id, event) {
        if (event.target.status == 200) {
            const response = JSON.parse(event.target.responseText);
            if (!images_data.has("files")) {
                snackbar.labelText = project_save_success_msg;
                snackbar.open();
                return;
            }

            if (project_id == null) {
                const project_id_new = response.id;
                createImages(project_id_new, images_data);
            } else {
                createImages(project_id, images_data);
            }            
        } else {
            snackbar.labelText = project_save_error_msg;    
            snackbar.open();
        }
    }

    function redirectHome() {
        window.location.href = "{{ url_for('projects') }}";
    }

    function saveProjectButtonClicked(event) {
        // get project data from fields and file input
        const project_data = {
            "name": document.getElementById('text-field-name-input').value, 
            "description": document.getElementById('text-field-description-input').value
        };

        var images_data = new FormData();
        Array.from(images_to_upload).forEach(file => {
            images_data.append("files", file, file.name);
        });

        if (mode == "add") {
            createProject(project_data, images_data, saveProjectListener);
            redirectHome();
        } else if (mode == "edit") {
            updateProject(project_id, project_data, images_data, saveProjectListener);
        }
        else {
            console.log("Unknown mode. Must be either 'add' or 'edit'.")
        }
    }

    function cancelButtonClicked() {
        redirectHome();
    }    

    function filesInputChanged(event) {
        function createObjectURL(object) {
            return (window.URL) ? window.URL.createObjectURL(object) : window.webkitURL.createObjectURL(object);
        }
        console.log(event.target.files);
        if(event.target.files.length) {
            for(var i = 0; i < event.target.files.length; i++) {
                const file = event.target.files[i];
                images_to_upload.push(file);
                var src = createObjectURL(file);
                addImageToImageList(null, `${src}`, "image-not-uploaded");
            }
            updateImageListTitle(true);
        }
    }

    function deleteImageButtonClicked(image_id, event) {
        console.log("deleteImageButtonClicked");
        console.log(event);
        console.log(image_id);
        console.log(event.currentTarget.classList);
        if (event.currentTarget.classList.contains("mdc-icon-button--on")) {
            event.currentTarget.classList.remove("mdc-icon-button--on");
        } else {
            event.currentTarget.classList.add("mdc-icon-button--on");
        }
    }

    getProjectDataAndPopulateFields(project_id);
</script>
{% endblock %}