<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">

  <!-- Imports for Material Web -->
  <link rel="stylesheet" href="{{ url_for('static', path='material-components-web/material-components-web.min.css') }}">
  <script src="{{ url_for('static', path='material-components-web/material-components-web.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', path='material-components-web/google-material-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='material-components-web/google-fonts-roboto.css') }}">
  {% block head %}{% endblock %}

  <title>{% block title %}Grid Annotation Tool{% endblock %}</title>
</head>

<body class="mdc-typography">
  <div class="top-app-bar__frame">

    <header class=" mdc-top-app-bar mdc-top-app-bar--fixed">
      <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="mdc-top-app-bar__title" onclick="homeButtonClicked()">Grid Annotation Tool</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
        {% block appbar_buttons %}{% endblock %}
        <a id="login-button" class="mdc-button mdc-button--icon-leading login-button" onclick="loginButtonClicked()">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <i id="login-button-icon" class="material-icons mdc-button__icon" aria-hidden="true">
              login
          </i>
          <span id="login-button-label" class="mdc-button__label">Login</span>
        </a>
        <a class="mdc-button login-button" href="{{ url_for('registration') }}">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Register</span>
        </a>
      </section>
      </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust">
      {% block content %}{% endblock %}

      <!-- Snackbar -->
      <aside class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
          <div class="mdc-snackbar__label" aria-atomic="false">
            Snackbar Text.
          </div>
          <div class="mdc-snackbar__actions" aria-atomic="true">
            <button type="button" class="mdc-button mdc-snackbar__action">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">OK</span>
            </button>
          </div>
        </div>
      </aside>
    </div>
  </div>

  {% block tooltips %}{% endblock %}

  <!-- Handle Login State -->
  <script>
    const API_URL = {{ api_url|tojson }};

    const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));

    async function entrypoint(entrypointFunc) {
        const loggedIn = await userIsLoggedIn();
        if (!loggedIn) {
            redirectToLogin();
        }
        else {
            entrypointFunc();
        }
    }

    async function userIsLoggedIn() {
        const access_token = localStorage.getItem('access_token');
        if (!access_token) {
          return false;
        }

        // check if access token is not expired yet
        const url = `${API_URL}/isvalid/${access_token}`
        let response = await fetch(url);

        if (response.status == 200) {
            const status = await response.json();
            return status.isvalid;
        } else {
            throw new Error("Failed to determine whether user is logged in");
        }
    }
      
    function redirectToLogin() {
      window.location.href = "{{ url_for('login') }}";
    }

    async function loginButtonClicked() {
      const loggedIn = await userIsLoggedIn();
      if (loggedIn) {
        logout();
      } else {
        redirectToLogin();
      }
    }

    setLoginButton();

    async function setLoginButton() {
      const login_button_label = document.getElementById("login-button-label");
      const login_button_icon = document.getElementById("login-button-icon");
      const loggedIn = await userIsLoggedIn();
      if (loggedIn) {
        console.log("setting button")
        login_button_label.innerHTML = "Sign out";
        login_button_icon.innerHTML = "logout";
      } else {
        login_button_label.innerHTML = "Login";
        login_button_icon.innerHTML = "login";
      }
    }

    function logout() {
      localStorage.removeItem('access_token');
      console.log("Logged out");
      redirectToLogin();
    }
  </script>

  <script>
    // UUID creation, taken from: https://stackoverflow.com/a/2117523
    function uuidv4() {
      return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      );
    }

    function htmlToElements(html) {
      var template = document.createElement('template');
      template.innerHTML = html;
      return template.content;
    }

    function redirectToProjects() {
        window.location.href = "{{ url_for('projects') }}";
    }

    function homeButtonClicked() {
      redirectToProjects();
    }

    function parseValidationErrors(textFields, errors) {
        errors["detail"].forEach((error) => {
            const fieldname = error.loc[1];
            console.log(fieldname);
            textFields[fieldname].helperTextContent = error.msg;
            textFields[fieldname].valid = false;                
        });
    }

    async function setupProjectClicked(project_id) {
        const url = "{{ url_for('get_edit_project_url') }}"+"?project_id="+project_id;
        const options = {
            method: 'GET',
            headers: new Headers({
                'Authorization': 'Bearer ' + localStorage.getItem("access_token")
            })
        }

        let response = await fetch(url, options);

        if (response.status == 200) {
            const data = await response.json();
            window.location.href = data.url;
        } else if (response.status == 401) {
            redirectToLogin();
        } else {
            throw new Error(`Failed to get url for setting up project with id ${project_id}`);
        }
    }

    async function exportProjectClicked(project_id) {
      const url = `${API_URL}/export/${project_id}`;
      const options = {
        method: 'GET',
        headers: new Headers({
            'Authorization': 'Bearer ' + localStorage.getItem("access_token")
        })
      }

      let response = await fetch(url, options);

      if (response.status == 200) {
        // get filename
        const disposition = response.headers.get('Content-Disposition');
        filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
        if (filename.toLowerCase().startsWith("utf-8''")) {
          filename = decodeURIComponent(filename.replace("utf-8''", ''));
        } else {
          filename = filename.replace(/['"]/g, '');
        }
        // get data
        const fileBlob = await response.blob();
        // download file
        var a = document.createElement('a');
        a.href = URL.createObjectURL(fileBlob);
        a.download = filename;
        document.body.appendChild(a); // append the element to the dom, otherwise it won't work in Firefox
        a.click();
        a.remove();
      } else if (response.status == 401) {
        redirectToLogin();
      } else {
        throw new Error(`Failed to export project with id ${project_id}`);
      }
    }

    async function getImageUrl(image_id) {
        const url = `${API_URL}/image_file/${image_id}`;
        const options = {
            method: 'GET',
            headers: new Headers({
                'Authorization': 'Bearer ' + localStorage.getItem("access_token")
            })
        }

        let response = await fetch(url, options);

        if (response.status == 200) {
            const imageBlob = await response.blob();
            const imageURL = URL.createObjectURL(imageBlob);
            return imageURL;
        } else if (response.status == 401) {
            redirectToLogin();
        } else {
            throw new Error(`Failed to get image with id ${image_id}`);
        }
    }
  </script>

  <script>
    var fetchService = function() {

      makeFetchRequest = function(httpMethod, url, data=null, formData=null, authorization=true) {

          const options = {
              method: httpMethod
          }

          let headers = {};
          if (authorization) {
              headers['Authorization'] = 'Bearer ' + localStorage.getItem("access_token")
          }

          if (data) {
              options.body = JSON.stringify(data);
              headers['Content-Type'] = 'application/json';
          } 
          else if (formData) {
              options.body = formData;
          }

          options.headers = new Headers(headers);

          let responsePromise = fetch(url, options);

          return responsePromise;
      }

      // public API
      return {
          makeFetchRequest: makeFetchRequest
      }

    }();


    var apiService = function() {

      let apiUrl = API_URL;

      getProjects = function(skip, limit, orderby, orderdir) {
          let url = `${apiUrl}/projects/?skip=${skip}&limit=${limit}&orderby=${orderby}&orderdir=${orderdir}`;
          return fetchService.makeFetchRequest('GET', url, null, null, true);
      }

      getProject = function(projectId) {
          let url = `${API_URL}/project/${projectId}`;
          return fetchService.makeFetchRequest('GET', url, null, null, true);
      }

      deleteProject = function(projectId) {
          let url = `${apiUrl}/project/${projectId}`;
          return fetchService.makeFetchRequest('DELETE', url, null, null, true);
      }

      createProject = function(projectData) {
          let url = `${apiUrl}/projects/`;
          return fetchService.makeFetchRequest('POST', url, projectData, null, true);
      }

      updateProject = function(projectId, projectData) {
          let url = `${apiUrl}/project/${projectId}`
          return fetchService.makeFetchRequest('PUT', url, projectData, null, true);
      }

      getAnnotationIds = function() {
          let url = `${apiUrl}/annotation_ids/`;
          return fetchService.makeFetchRequest('GET', url, null, null, true);
      }

      importProject = function(importProjectData) {
          let url = `${apiUrl}/import/`;
          return fetchService.makeFetchRequest('POST', url, null, importProjectData, true);
      }

      getImages = function(projectId) {
          let url = `${apiUrl}/project/${projectId}/images/`;
          return fetchService.makeFetchRequest('GET', url, null, null, true);
      }

      createImages = function(projectId, imagesData) {
          let url = `${apiUrl}/project/${projectId}/images/`;
          return fetchService.makeFetchRequest('POST', url, null, imagesData, true);
      }

      deleteImage = function(imageId) {
          let url = `${apiUrl}/image/${imageId}`;
          return fetchService.makeFetchRequest('DELETE', url, null, null, true);
      }

      getAnnotation = function(imageId) {
          let url = `${apiUrl}/annotation/${imageId}`;
          return fetchService.makeFetchRequest('GET', url, null, null, true);
      }

      updateAnnotation = function(imageId, annotationData) {
          let url = `${apiUrl}/annotation/${imageId}`;
          return fetchService.makeFetchRequest('PUT', url, annotationData, null, true);
      }

      // public API
      return {
          getProjects: getProjects,
          getProject: getProject,
          deleteProject: deleteProject,
          createProject: createProject,
          updateProject: updateProject,
          getAnnotationIds: getAnnotationIds,
          importProject: importProject,
          getImages: getImages,
          createImages: createImages,
          deleteImage: deleteImage,
          getAnnotation: getAnnotation,
          updateAnnotation: updateAnnotation
      }

    }();


    getAnnotationIds = async function () {
        var response = await apiService.getAnnotationIds();

        if (response.status == 200) {
            const existing_anotations = await response.json();
            return existing_anotations;
        } else if (response.status == 401) {
            redirectToLogin();
        } else {
            throw new Error(`Failed to get annotation ids`);
        }
    }
  </script>

  <!-- MUI Web Components -->
  <script>    
    const iconButtonRipples = [].map.call(document.querySelectorAll('.app-bar-icon-button'), function(element) {
        const ripple = new mdc.ripple.MDCRipple(element);
        ripple.unbounded = true;
        return ripple;
    });
    
    const textfields = [].map.call(document.querySelectorAll('.mdc-text-field'), function(element) {
        return new mdc.textField.MDCTextField(element);
    });
    
    const tooltips = [].map.call(document.querySelectorAll('.mdc-tooltip'), function(element) {
        const tooltip = new mdc.tooltip.MDCTooltip(element);
        tooltip.setShowDelay(500);
        tooltip.setHideDelay(0);
        return tooltip;
    });
  </script>

  {% block script %}{% endblock %}
</body>
</html>
