{% extends "index.html" %} {% block content %}
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-2"></div>
    <div class="mdc-layout-grid__cell--span-8">
      <div class="mdc-elevation--z4">
        <div class="main-container">
          <h1 class="mdc-typography--button">Login</h1>

          <!-- Error Banner -->
          <div class="alert-banner" style="display: none">
            <h2 class="mdc-typography--body1 alert-banner-text"></h2>
            <i
              class="material-icons mdc-button__icon"
              id="alert-banner-icon"
              aria-hidden="true"
            >
              clear
            </i>
          </div>

          <!-- Login form -->
          <div class="form-row">
            <div
              class="mdc-text-field mdc-text-field--outlined"
              id="text-field-username"
            >
              <input
                class="mdc-text-field__input"
                id="text-field-username-input"
              />
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label
                    for="text-field-username-input"
                    class="mdc-floating-label"
                    id="text-field-username-label"
                    >Username</label
                  >
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
            <div class="mdc-text-field-helper-line">
              <div
                class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                id="text-field-username-error"
                aria-hidden="true"
              ></div>
            </div>
          </div>
          <div class="form-row">
            <div
              class="mdc-text-field mdc-text-field--outlined"
              id="text-field-password"
            >
              <input
                type="password"
                class="mdc-text-field__input"
                id="text-field-password-input"
              />
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label
                    for="text-field-password-input"
                    class="mdc-floating-label"
                    id="text-field-password-label"
                    >Password</label
                  >
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
            <div class="mdc-text-field-helper-line">
              <div
                class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                id="text-field-password-error"
                aria-hidden="true"
              ></div>
            </div>
          </div>
          <div class="form-row">
            <button
              class="mdc-button mdc-button--raised mdc-button--icon-leading"
              id="login-form-submit-button"
            >
              <span class="mdc-button__ripple"></span>
              <span class="mdc-button__focus-ring"></span>
              <i class="material-icons mdc-button__icon" aria-hidden="true">
                login
              </i>
              <span class="mdc-button__label">Login</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-2"></div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', path='dist/login/index.bundle.js') }}"></script>
{% endblock %}
